.large-hero {
    width:100%;
    height:100%;
    margin:auto;
    
    
    @mixin atSmall {
        width:93vh;
        height:93vh;
    }
    
   
    &__image {
        margin:auto;
        display: block;
    }
    
    &__text-content {
        /*top:50%;*/
        left:0;
        width:100%;
        text-align: center;
        font-size: .5rem;
    }
    
    &__subtitle {
        font-weight: 300;
    }
    
    
}