html {
    height:100%;
}
body {
    font-family: 'Roboto Mono', monospace;
    background-color: white;
    height:100%;
}

img {
    max-width: 100%;
    max-height: auto;
}

a {
    color: black;
}